{% extends 'base.html' %}
{% block content %}

<h1>Race List</h1>
<div class="row">
  {% for race in races %}
  <div class="col s4">
  <div class="card">
    <div class="card-content">
      <a href = "{% url 'detail' race.id %}">
        <span class="card-title">{{ race.race_name }}</span>
      </a>
      <p>Year: {{ race.year }}</p>
      <p>Race Type: {{ race.race_type }}</p>
      {% if race.distance > 0 %}
      <p>Distance: {{ race.distance }}</p>
      <a href={{race.image}}>Link</a><br>
      <img src="https://i.ibb.co/SNDK886/avatarHi.png" alt="avatarHi" border="0">
      {% else %}
      <p>Distance: DNA</p>
      {% endif %}
    </div>
  </div>
</div>
  {% endfor %}
</div> 

{% endblock %}

